input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --color-primary: #e98227;
  --color-secondary: #33ff00;
  --color-light: #e8e6e3;
  --color-dark: #313436;
}

:root.night-mode {
  --color-primary: #4700b3;
  --color-secondary: #33ff00;
  --color-light: #e8e6e3;
  --color-dark: #313436;
}
:root.night-mode .panel {
  border-color: #000;
  animation: flickerAnimation 2s 1s steps(6, jump-both) forwards;
}
:root.night-mode .header {
  color: #000;
  animation: flickerAnimation 2s 1s steps(6, jump-both) forwards;
}
:root.night-mode .form {
  color: var(--color-secondary);
}
:root.night-mode .sign-in-link {
  color: var(--color-light);
  border-bottom-color: var(--color-light);
}
:root.night-mode .sign-in-link:hover {
  color: var(--color-primary);
  border-bottom-color: var(--color-primary);
}
:root.night-mode .form__control {
  background-color: rgba(34, 34, 34, 0.503);
  border-color: var(--color-secondary);
  font-family: inherit;
  color: var(--color-light);
  font-size: inherit;
  width: calc(100% - 3rem);
  padding: 1rem 1.5rem;
  outline: none;
}
:root.night-mode .form__control:active, :root.night-mode .form__control:focus {
  border-color: var(--color-primary);
}
:root.night-mode .legal__name {
  color: var(--color-secondary);
}
:root.night-mode .odinLogo__img {
  display: none;
}
:root.night-mode .odinLogo__img--dark {
  display: block;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #222;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: "Press Start 2P", sans-serif;
  font-size: 2rem;
}

.hero {
  height: 100vh;
  min-height: 100vh;
  min-width: 60vw;
}
.hero::after {
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, var(--color-primary), #000);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 40%;
}

.hero__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100%;
}

.content {
  font-size: 1.5rem;
  height: 100vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  right: 0;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel {
  border: 1px solid white;
  padding: 2rem;
  border-radius: 5px;
}

.form {
  width: 45rem;
}
.form__group:not(:first-child) {
  margin-top: 2rem;
}
.form__label {
  display: block;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.form__control {
  display: block;
  border: none;
  border-radius: 5px;
  background-color: rgba(34, 34, 34, 0.503);
  border: 1px solid var(--color-dark);
  font-family: inherit;
  color: var(--color-light);
  font-size: inherit;
  width: calc(100% - 3rem);
  padding: 1rem 1.5rem;
  outline: none;
}
.form__control:active, .form__control:focus {
  border-color: var(--color-primary);
}
.form .btn-sign-up {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  border: 1px solid var(--color-dark);
  padding: 1.5rem;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  outline: none;
}
.form .btn-sign-up:hover, .form .btn-sign-up:active {
  border-color: var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
}
.form .btn-sign-up:active {
  transform: translateY(1px);
}

.header {
  margin: 0;
  user-select: none;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__primary {
  font-size: 5rem;
  letter-spacing: 4px;
  margin-bottom: 1rem;
  margin-left: 1px;
}
.header__primary:hover {
  color: var(--color-primary);
}
.header__secondary {
  width: 100%;
  font-size: 2rem;
  letter-spacing: 0px;
  margin-bottom: 2rem;
}

.log-in-message {
  display: block;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.log-in-message .sign-in-link {
  color: var(--color-primary);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-primary);
  outline: none;
}
.log-in-message .sign-in-link:hover, .log-in-message .sign-in-link:focus {
  color: var(--color-secondary);
  border-bottom-color: var(--color-secondary);
  cursor: pointer;
}

.sun {
  position: absolute;
  top: 20px;
  right: 100px;
}

.sunPseudo {
  background: var(--color-primary);
  position: absolute;
  border-radius: 50px;
  right: -75px;
  width: 30px;
  height: 30px;
  transition: opacity 1s, transform 1s;
}
.sunPseudo:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.sunPseudo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  width: 80%;
  background-color: #fefefe;
  border-radius: 50%;
  z-index: -1;
  filter: blur(40px);
  user-select: none;
  opacity: 0%;
}

.sunPseudo:hover::before {
  opacity: 100%;
}

.moon {
  position: absolute;
  top: 30px;
  right: 100px;
}

.moonPseudo {
  position: absolute;
  height: 30px;
  width: 30px;
  left: -80px;
  box-shadow: inset -6px 6px 0 5px var(--color-primary);
  border-radius: 50%;
  transition: opacity 1s, transform 1s;
  opacity: 0%;
}
.moonPseudo:hover {
  cursor: pointer;
  transform: translate(2px, 3px);
}

.moonPseudo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  border-radius: 50%;
  z-index: -1;
  filter: blur(40px);
  user-select: none;
  opacity: 0%;
}

.moonPseudo:hover::before {
  opacity: 100%;
}

.legal {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  color: var(--color-light);
}
.legal__name {
  color: var(--color-primary);
}

.odinLogo__img {
  z-index: 1;
  width: 20rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.odinLogo__img--dark {
  z-index: 2;
  width: 20rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: none;
  transform: scale(110%);
}

@keyframes arc-out-sun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.arc-out-sun {
  animation: arc-out-sun 2s forwards;
}

@keyframes arc-in-moon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(203deg);
  }
}
.arc-in-moon {
  animation: arc-in-moon 2s forwards;
}

@keyframes reflect-moon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.reflect-moon {
  animation: reflect-moon 1ms forwards;
}

@keyframes arc-out-moon {
  0% {
    transform: rotate(203deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.arc-out-moon {
  animation: arc-out-moon 2s forwards;
}

@keyframes arc-in-sun {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.arc-in-sun {
  animation: arc-in-sun 2s forwards;
}

.fade-in {
  opacity: 100%;
}

.fade-out {
  opacity: 0%;
}

@keyframes flickerAnimation {
  0% {
    border-color: #000;
    color: #000;
  }
  60% {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
  }
  65% {
    border-color: #000;
    color: #000;
  }
  70% {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
  }
  75% {
    border-color: #000;
    color: #000;
  }
  100% {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
  }
}
.flicker {
  animation: flickerAnimation 1s;
}

@media only screen and (max-width: 1560px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 1160px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 930px) {
  html {
    font-size: 56.5%;
  }
  .hero {
    height: 100vh;
    min-height: 100vh;
    min-width: 0vw;
  }
  .content {
    width: 100vw;
  }
  .panel {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    margin-left: 2.5rem;
    text-align: center;
  }
  .header__primary {
    font-size: 4.5rem;
  }
  .header__secondary {
    font-size: 1.5rem;
  }
  .content {
    height: 95vh;
  }
  .odinLogo {
    z-index: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
